html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    font-family: Quicksand, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.btn {
    display: inline-block;
    padding: 19px 31px 16px 31px;
    border: 1px solid transparent;
    border-radius: 28px;
}

.btn--blue {
    background-color: $blue;
    color: #fff;
}

.btn--white,
.btn--transparent {
    transition-property: background-color, box-shadow;
    transition-duration: 0.3s;
}

.btn--white {
    background-color: #fff;
    color: $blue;
    &:hover {
        background-color: rgba(white, 0.7);
    }
    &:active {
        box-shadow: inset 0 -3px 4px $gray;
    }
}

.btn--transparent {
    border: 1px solid white;
    color: white;
    &:hover {
        background-color: rgba($blue, 0.3);
    }
    &:active {
        box-shadow: inset 0 -3px 4px #e2fbff;
    }
}

.d-flex {
    display: flex;
}