html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: Quicksand, sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: white;
    line-height: 1.15;
    counter-reset: why-counter;
}

.logo {
    outline: transparent;
    transition: box-shadow, 0.3s;
    &:focus {
        box-shadow: 0 10px 12px -11px $light-blue;
    }
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.btn {
    display: inline-block;
    min-width: 190px;
    padding: 19px 25px 16px 25px;
    border: 1px solid transparent;
    border-radius: 28px;
    outline: transparent;
    &--blue {
        background-color: $blue;
        color: #fff;
    }
    &--white,
    &--transparent {
        transition-property: background-color, box-shadow;
        transition-duration: 0.3s;
    }
    &--white {
        background-color: #fff;
        color: $blue;
        &:hover {
            background-color: rgba(white, 0.7);
        }
        &:focus {
            background-color: rgba($gold, 0.8);
        }
        &:active {
            box-shadow: inset 0 -3px 4px $gray;
        }
    }
    &--transparent {
        border: 1px solid white;
        color: white;
        &:hover {
            background-color: rgba($blue, 0.3);
        }
        &:focus {
            background-color: rgba($gold, 0.8);
        }
        &:active {
            box-shadow: inset 0 -3px 4px #e2fbff;
        }
    }
}

.d-block {
    display: block !important;
}

.d-flex {
    display: flex;
}

.blue-text {
    color: $blue;
}

.violet-text {
    color: #7f4ec2;
}

.green-text {
    color: $light-green;
}

.gold-text {
    color: $gold;
}

.light-blue-text {
    color: $light-blue;
}

.red-text {
    color: $red;
}

.violet-light {
    color: #7347c1;
}

.block-title {
    margin-bottom: 22px;
    font-size: 36px;
}

.block-text {
    max-width: 675px;
    margin: 0 auto 54px;
    font-size: 16px;
    line-height: 30px;
}