@import 'fonts';
@import 'vars';
@import 'mixins';
@import 'global';
@import 'componenets/product';
@import 'componenets/profile';
//header styles start
.header {
    &__top {
        background-color: $header-top;
    }
    &__top-inner {
        min-height: 100px;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        margin-left: 7px;
    }
    &__seller {
        margin: -3px 47px 0 auto;
        padding: 3px 17px;
        font-size: 14px;
        line-height: 28px;
        border-radius: 18px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        @include btn-transition;
    }
    &__info {
        justify-content: space-between;
    }
    &__icons {
        margin-right: 48px;
        align-items: center;
    }
    &__icons-item {
        position: relative;
        font-size: 20px;
        &+.header__icons-item {
            margin-left: 32px;
        }
    }
    &__icons-link {
        transition: color 0.3s;
        &:hover {
            color: red;
        }
    }
    &__icons-counter {
        position: absolute;
        top: -16px;
        min-width: 22px;
        height: 22px;
        padding: 5px;
        padding-top: 2px;
        border-radius: 11px;
        color: white;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        &--red {
            background-color: $red;
            left: 11px;
        }
        &--green {
            background-color: $green;
            left: 14px;
        }
        &--blue {
            background-color: $blue;
            left: 15px;
        }
    }
    &__profile {
        justify-content: space-between;
        align-items: center;
        margin-right: 7px;
    }
    &__profile-avatar {
        margin-right: 22px;
        width: 50px;
        height: 50px;
    }
    &__profile-name {
        margin-right: 0;
        display: block;
        color: #333;
        font-weight: 500;
    }
    &__profile-balance {
        color: #0674ec;
        font-size: 15px;
    }
    &__nav-inner {
        justify-content: space-between;
        align-items: center;
        min-height: 80px;
    }
    &__menu {
        justify-content: space-between;
    }
    &__menu-item {
        font-size: 15px;
        font-weight: 500;
        font-size: 15px;
        font-weight: 500;
        text-transform: uppercase;
        &+& {
            margin-left: 34px;
        }
    }
    &__menu-link {
        @include link-transition;
    }
}

.search {
    position: relative;
    max-width: 360px;
    width: 100%;
    &__label {
        display: inline-block;
        font-size: 0;
    }
    &__input {
        width: 100%;
        padding: 4px 94px 7px 24px;
        border: 1px solid #d9dfe5;
        border-radius: 23px;
        font-size: 15px;
        line-height: 30px;
        outline: none;
        @include form-transition;
    }
    &__submit {
        position: absolute;
        max-width: 70px;
        width: 100%;
        right: 0;
        top: 19px;
        padding: 6px 0;
        background-color: #0674ec;
        border: none;
        border-radius: 23px;
        cursor: pointer;
        .search__submit-icon {
            color: #fff;
            font-size: 15px;
            line-height: 30px;
        }
        @include btn-transition;
    }
}

//header styles end
//intro start
.intro {
    padding-top: 170px;
    // padding: 170px 0 235px;
    background-image: linear-gradient(to left, #0030de 0%, #2e5afb 100%);
    color: #f3f3f8;
    text-align: center;
    &__title {
        max-width: 810px;
        margin: 0 auto 33px;
        font-size: 60px;
        line-height: 70px;
        color: #f3f3f8;
    }
    &__title-attention {
        display: block;
        font-weight: 700;
    }
    &__text {
        margin-bottom: 67px;
        font-size: 20px;
        font-weight: 500;
    }
    &__links {
        margin-bottom: 97px;
    }
    &__link {
        display: inline-block;
        &+& {
            margin-left: 25px;
        }
    }
    //intro search form start
    // &__search {
    //     height: 1px;
    //     //пришлось поставить высоту, чтобы сделать через марджин от ссылок
    //     position: relative;
    //     max-width: 1140px;
    //     margin: 0 auto;
    // }
    &__search {
        position: relative;
        z-index: 5;
        bottom: -69px;
        max-width: 1140px;
        width: 100%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        padding: 40px;
        border-radius: 6px;
        background-color: #fff;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
        &::after {
            @include decor;
            max-width: 1080px;
            width: 100%;
            bottom: 30px;
            left: 30px;
        }
        &::before {
            @include decor;
            max-width: 1110px;
            width: 100%;
            bottom: 16px;
            left: 15px;
        }
    }
    &__search-label {
        font-size: 0;
    }
    &__search-input,
    &__search-select {
        border: 1px solid gainsboro;
        outline: transparent;
    }
    &__search-input {
        max-width: 613px;
        width: 100%;
        padding: 19px 28px 18px;
        border-radius: 4px 0 0 4px;
        color: #676767;
        @include form-transition;
    }
    &__search-select {
        position: relative;
        margin-right: 30px;
        max-width: 195px;
        width: 100%;
        padding: 19px 20px;
        margin-left: -1px;
        color: $gray-text;
        appearance: none;
        border-radius: 0 4px 4px 0;
        @include form-transition;
    }
    &__search-btn {
        max-width: 223px;
        width: 100%;
        padding: 20px 0 20px;
        background-color: #0674ec;
        border: none;
        border-radius: 4px;
        color: #fff;
        cursor: pointer;
        @include btn-transition;
    }
}

//intro end
//advantages start
.advantages {
    padding-top: 185px;
    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 121px;
        text-align: center;
    }
    &__item {
        max-width: 360px;
        padding: 0 32px 0 32px;
        border-radius: 4px;
        transition: box-shadow 0.2s;
        &:hover {
            box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
        }
    }
    &__img {
        height: 120px;
        margin: 45px 0 26px;
        background-repeat: no-repeat;
        background-position: center;
    }
    &__title {
        margin-bottom: 21px;
        font-size: 24px;
    }
    &__text {
        margin-bottom: 40px;
        line-height: 30px;
        color: $gray-text;
    }
}

.block-intro {
    min-height: 110px;
    margin-bottom: 50px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
    &__title {
        font-size: 30px;
    }
    &__slider-nav {
        margin-top: 7px;
        display: flex;
        text-align: center;
    }
    &__btn {
        width: 55px;
        height: 45px;
        padding-top: 15px;
        background-color: #7347c1;
        color: white;
        font-size: 14px;
        cursor: pointer;
        transition-property: background-color, outline, box-shadow;
        transition-duration: 0.3s;
        &:hover {
            background-color: $btn-hover;
        }
        &:focus {
            outline: transparent;
            background-color: $btn-hover;
        }
        &:active {
            box-shadow: inset 0 7px #e2fbff;
        }
        &--prev {
            border-radius: 23px 0 0 23px;
        }
        &--next {
            border-radius: 0 23px 23px 0;
        }
    }
    &__filter-by {
        margin: 0 25px 0 auto;
        color: #747b86;
    }
    &__icon {
        width: 5px;
        height: 20px;
        background-image: url("../images/filter-dots.svg");
    }
}

//features start
.features {
    padding-top: 120px;
    background-color: $gray;
    &__product {
        margin-bottom: 120px;
        max-width: none;
        flex-direction: row;
    }
    &__product-img {
        width: 555px;
        height: 450px;
        object-fit: cover;
    }
    &__product-img-buttons {
        padding-top: 202px;
        box-sizing: border-box;
        height: 100%;
    }
    &__product-info {
        padding: 48px 50px 24px 49px;
        background-color: #fff;
    }
    &__product-title {
        margin-bottom: 15px;
        font-size: 24px;
        font-weight: 500;
        @include link-transition;
    }
    &__product-author-avatar {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        border-radius: 50%;
    }
    &__product-text {
        margin-bottom: 34px;
    }
    &__product-stats {
        display: flex;
        align-items: center;
        padding: 0;
        padding-top: 23px;
    }
    &__product-price {
        margin-right: 20px;
        padding: 5px 19px 6px 18px;
        background-color: $blue;
        border-radius: 16px;
        color: #fff;
    }
    &__product-likes {
        margin-right: 16px;
    }
    &__product-likes-icon {
        margin-right: 10px;
    }
    &__product-sells {
        margin-left: 0;
    }
    &__product-sells-icon {
        margin-right: 7px;
    }
    &__product-rating {
        margin-left: auto;
        margin-right: 0;
    }
}

.newest {
    padding-top: 120px;
    background-color: #f6f7fb;
    &__intro {
        margin-bottom: 30px;
    }
    &__filter {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 51px;
        padding: 30px;
        background-color: #fff;
        box-shadow: 0 1px 2px rgba(90, 93, 100, 0.1);
    }
    &__filter-item {
        &+& {
            margin-left: 10px;
        }
    }
    &__button {
        padding: 7px 18px 7px 20px;
        border: none;
        background-color: #f1f3f6;
        border-radius: 16px;
        font-size: 15px;
        color: #747b86;
        cursor: pointer;
        transition-property: background-color, color;
        transition-duration: 0.3s;
        &.mixitup-control-active {
            background-color: $blue;
            color: #fff;
        }
    }
    &__product-inner {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 25px;
    }
    &__btn-inner {
        text-align: center;
    }
    &__btn {
        display: inline-block;
        @include btn-transition;
        margin-bottom: 120px;
    }
}

.followers-feed {
    background-color: $gray;
    padding: 120px 0 89px;
    .product {
        box-sizing: border-box;
    }
    &__btn {
        background-color: $blue;
    }
    &__slider-product {
        &+& {
            margin-left: 28px;
        }
    }
}

.stats {
    padding: 95px 0 95px;
    text-align: center;
    background-color: rgba(#0d0f13, 0.8);
    font-size: 48px;
    &__inner {
        justify-content: space-between;
    }
    &__item {
        &--blue {
            margin-left: 25px;
        }
        &--green {
            margin-left: 15px;
        }
    }
    &__icon {
        display: block;
        margin-bottom: 39px;
    }
    &__number {
        display: block;
        margin-bottom: 11px;
        font-size: 36px;
    }
    &__title {
        color: white;
        font-size: 18px;
    }
}

.why {
    padding: 114px 0 0;
    text-align: center;
    &__title {
        margin-bottom: 20px;
        font-size: 36px;
    }
    &__text {
        max-width: 675px;
        margin: 0 auto 60px;
        font-size: 16px;
        line-height: 30px;
    }
    &__list {
        margin-bottom: 82px;
    }
    &__item {
        margin-bottom: 30px;
        padding-top: 45px;
        position: relative;
        box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
    }
    &__counter {
        position: absolute;
        left: 17px;
        top: 2px;
        opacity: 0.2;
        color: #5c87f8;
        font-size: 48px;
        font-weight: 300;
    }
    &__icon {
        display: inline-block;
        margin-bottom: 40px;
        font-size: 60px;
    }
    &__text {
        margin-bottom: 60px;
    }
}

.sell-buy {
    text-align: center;
    color: white;
    &__sell,
    &__buy {
        padding-top: 100px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__sell {
        width: 100%;
    }
    &__buy {
        width: 100%;
    }
    &__icon {
        margin-bottom: 43px;
        height: 100px;
        background-repeat: no-repeat;
        background-position: center;
    }
    &__title {
        margin-bottom: 20px;
        font-size: 36px;
    }
    &__text {
        margin: 0 auto 42px;
        max-width: 580px;
        line-height: 30px;
    }
    &__btn {
        margin-bottom: 100px;
    }
}

.feedback {
    padding-top: 112px;
    text-align: center;
    &__inner {
        justify-content: space-between;
        margin-bottom: 61px;
    }
    &__item {
        position: relative;
        max-width: 555px;
        width: 100%;
        padding: 50px 38px 0;
        border-left: 2px solid $blue;
        border-radius: 0 4px 4px 0;
        box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
        text-align: left;
    }
    &__profile {
        max-width: 350px;
        margin-bottom: 20px;
    }
    &__avatar {
        width: 80px;
        height: 80px;
    }
    &__profile-info {
        margin-left: 8px;
    }
    &__name {
        margin: -4px 0 12px;
        display: block;
        font-size: 20px;
    }
    &__icon {
        position: absolute;
        top: 46px;
        right: 41px;
        color: #e8e8e8;
        font-size: 60px;
    }
    &__item-text {
        margin-bottom: 44px;
    }
    &__btn {
        margin-bottom: 120px;
    }
}

.news {
    padding: 113px 0 120px;
    text-align: center;
    background-color: $gray;
    &__inner {
        justify-content: space-between;
    }
    &__item {
        text-align: left;
        margin-bottom: 0;
    }
    &__item-info-wrapper {
        height: 180px;
        padding-top: 19px;
    }
    &__item-title {
        margin-bottom: 23px;
        line-height: 27px;
    }
    &__item-text {
        margin-bottom: 24px;
    }
    &__item-stats {
        display: block;
        padding: 10px 30px 8px;
        font-size: 15px;
    }
    &__item-stats-wrapper {
        justify-content: space-between;
    }
    &__item-time,
    &__item-info {
        width: 100%;
        padding: 12px 0 14px;
    }
    &__item-time {
        border-right: 1px solid $gray;
    }
    &__item-icon {
        margin-right: 7px;
        color: $blue;
    }
    &__item-info {
        display: flex;
        justify-content: space-between;
    }
    &__item-comments {
        margin-left: 33px;
    }
}

.promotion {
    font-size: 24px;
    &__inner {
        justify-content: space-between;
    }
    &__item {
        padding-top: 60px;
        text-align: center;
        max-width: 570px;
        width: 100%;
        &+& {
            border-left: 1px solid $gray;
        }
    }
    &__img {
        margin-bottom: 25px;
        height: 120px;
        background-repeat: no-repeat;
        background-position: center;
    }
    &__title {
        margin-bottom: 60px;
    }
}