@import 'fonts';
@import 'vars';
@import 'global';
@import 'mixins';
//header styles start
.header {
    &__top {
        background-color: $header-top;
    }
    &__top-inner {
        min-height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        margin-left: 7px;
    }
    &__seller {
        margin: -3px 46px 0 auto;
        padding: 4px 18px;
        background-color: $blue;
        color: #fff;
        font-size: 14px;
        line-height: 28px;
        border-radius: 18px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        @include btn-transition;
    }
    &__info {
        display: flex;
        justify-content: space-between;
    }
    &__icons {
        margin-right: 48px;
        display: flex;
        align-items: center;
    }
    &__icons-item {
        position: relative;
        font-size: 20px;
        &+.header__icons-item {
            margin-left: 32px;
        }
    }
    &__icons-link {
        transition: color .3s;
        &:hover {
            color: red;
        }
    }
    &__icons-counter {
        position: absolute;
        top: -16px;
        min-width: 22px;
        height: 22px;
        padding: 5px;
        padding-top: 2px;
        border-radius: 11px;
        color: white;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        &--red {
            background-color: $red;
            left: 11px;
        }
        &--green {
            background-color: $green;
            left: 14px;
        }
        &--blue {
            background-color: $blue;
            left: 15px;
        }
    }
    &__profile {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__profile-avatar {
        margin-right: 22px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    &__profile-name {
        color: #333;
        font-weight: 500;
    }
    &__profile-balance {
        color: #0674ec;
        font-size: 15px;
    }
    &__nav-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 80px;
    }
    &__menu {
        display: flex;
        justify-content: space-between;
    }
    &__menu-item {
        font-size: 15px;
        font-weight: 500;
        font-size: 15px;
        font-weight: 500;
        text-transform: uppercase;
        &+.header__menu-item {
            margin-left: 34px;
        }
    }
    &__menu-link {
        @include link-transition;
    }
}

.search {
    position: relative;
    width: 360px;
    &__label {
        font-size: 0;
    }
    &__input {
        width: 100%;
        padding: 4px 94px 7px 24px;
        border: 1px solid #d9dfe5;
        border-radius: 23px;
        font-size: 15px;
        line-height: 30px;
        outline: none;
        @include form-transition;
    }
    &__submit {
        position: absolute;
        max-width: 70px;
        width: 100%;
        right: 0;
        padding: 7px 0;
        background-color: #0674ec;
        border: none;
        border-radius: 23px;
        cursor: pointer;
        .lnr-magnifier {
            color: #fff;
            font-size: 15px;
            line-height: 30px;
        }
        @include btn-transition;
    }
}

//header styles end
//intro start
.intro {
    padding-top: 170px;
    // padding: 170px 0 235px;
    background-image: linear-gradient(to left, #0030de 0%, #2e5afb 100%);
    color: #f3f3f8;
    text-align: center;
    &__title {
        max-width: 810px;
        margin: 0 auto 33px;
        font-size: 60px;
        line-height: 70px;
        color: #f3f3f8;
    }
    &__title-attention {
        display: block;
        font-weight: 700;
    }
    &__text {
        margin-bottom: 67px;
        font-size: 20px;
        font-weight: 500;
    }
    &__links {
        margin-bottom: 235px;
    }
    &__link {
        @include big-btn;
        &--white {
            background-color: #fff;
            color: #0674ec;
        }
        &--transparent {
            padding: 19px 31px 16px 31px;
            border: 1px solid white;
        }
        &+.intro__link {
            margin-left: 25px;
        }
    }
    //intro search form start
    &__search {
        height: 1px;
        //пришлось поставить высоту, чтобы сделать через марджин от ссылок
        position: relative;
        max-width: 1140px;
        margin: 0 auto;
    }
    &__decor {
        position: absolute;
        height: 135px;
        background-color: white;
        opacity: 0.5;
        border-radius: 6px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
        z-index: 0;
        &--sm {
            width: 1080px;
            bottom: -39px;
            left: 30px;
        }
        &--bg {
            width: 1110px;
            bottom: -52px;
            left: 15px;
        }
    }
    &__search-main {
        position: absolute;
        z-index: 5;
        bottom: -69px;
        width: 1140px;
        //почему-то max-width не сработал, скорей всего изза позиционирования
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px;
        border-radius: 6px;
        background-color: #fff;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    }
    &__search-label {
        font-size: 0;
    }
    &__search-input,
    &__search-select {
        border: 1px solid gainsboro;
        outline: transparent;
    }
    &__search-input {
        max-width: 613px;
        width: 100%;
        padding: 19px 28px 18px;
        border-radius: 4px 0 0 4px;
        color: #676767;
        @include form-transition;
    }
    &__search-select {
        position: relative;
        margin-right: 30px;
        max-width: 195px;
        width: 100%;
        padding: 19.3px 20px;
        margin-left: -1px;
        color: $gray-text;
        appearance: none;
        border-radius: 0 4px 4px 0;
        &:hover,
        &:focus,
        &:active {
            box-shadow: 0 0 3px #555;
        }
    }
    &__search-btn {
        max-width: 223px;
        width: 100%;
        padding: 20.1px 0 20.1px;
        background-color: #0674ec;
        border: none;
        border-radius: 4px;
        color: #fff;
        cursor: pointer;
        @include btn-transition;
    }
}

//intro end
//advantages start
.advantages {
    padding-top: 185px;
    &__list {
        display: flex;
        justify-content: space-between;
        margin-bottom: 121px;
        text-align: center;
    }
    &__item {
        max-width: 360px;
        padding: 0 32px 0 32px;
        border-radius: 4px;
        transition: box-shadow .2s;
        &:hover {
            box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
        }
    }
    &__img {
        &--ux,
        &--buy-sell {
            margin: 45px 0 30px;
        }
        &--responsive {
            margin: 41px 0 27px;
        }
    }
    &__title {
        margin-bottom: 21px;
        font-size: 24px;
    }
    &__text {
        margin-bottom: 40px;
        line-height: 30px;
        color: $gray-text;
    }
}

//features start
.features {
    padding-top: 120px;
    background-color: $gray;
    &__menu {
        min-height: 110px;
        margin-bottom: 50px;
        padding: 0 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
    }
    &__title {
        font-size: 30px;
    }
    &__nav {
        margin-top: 7px;
        display: flex;
        text-align: center;
    }
    &__nav-prev,
    &__nav-next {
        width: 55px;
        height: 45px;
        padding-top: 15px;
        background-color: #7347c1;
        color: white;
        font-size: 14px;
        cursor: pointer;
        transition-property: background-color, outline, box-shadow;
        transition: .3s;
        &:hover {
            background-color: $btn-hover;
        }
        &:focus {
            outline: transparent;
            background-color: $btn-hover;
        }
        &:active {
            box-shadow: inset 0 7px #e2fbff;
        }
    }
    &__nav-prev {
        border-radius: 23px 0 0 23px;
    }
    &__nav-next {
        border-radius: 0 23px 23px 0;
    }
}

.product {
    display: flex;
    flex-direction: row;
    margin-bottom: 120px;
    border-radius: 4px;
    box-shadow: 0 2px 30px rgba(147, 155, 168, 0.1);
    &--sm {
        position: relative;
        margin-bottom: 31px;
        flex-direction: column;
        max-width: 361px;
        &:hover {
            box-shadow: 0 0 20px 10px rgba(black, .1);
        }
    }
    &__buttons {
        display: none;
        position: absolute;
        top: 93px;
        left: 45px;
    }
    &__buttons-item {
        border-radius: 23px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
        padding: 15px 28px 15px 28px;
        &--more {
            border: 1px solid white;
            color: #fff;
            font-size: 15px;
            font-weight: 500;
        }
        &--live {
            background-color: #fff;
            color: $blue;
            font-size: 15px;
            font-weight: 500;
        }
        &+.product__buttons-item {
            margin-left: 10px;
        }
    }
    &__img {
        width: 555px;
        height: 450px;
        &--sm {
            width: 361px;
            height: 230px;
        }
        &:hover {
            opacity: 0.5;
        }
    }
    .product__img-inner:hover>.product__buttons {
        display: block;
    }
    // тут костыль вышел, но как сделать правильно так и не понял
    &__info {
        padding: 48px 50px 24px 49px;
        background-color: #fff;
        &--sm {
            padding: 27px 39px 0 29px;
        }
    }
    &__title {
        margin-bottom: 15px;
        font-size: 24px;
        font-weight: 500;
        @include link-transition;
        &--sm {
            font-size: 20px;
        }
    }
    &__about {
        display: flex;
        align-items: center;
        margin-bottom: 26px;
    }
    &__author-avatar {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        border-radius: 50%;
        &--sm {
            width: 28px;
            height: 28px;
        }
    }
    &__author-name {
        margin-right: 18px;
        font-size: 15px;
        line-height: 22px;
        @include link-transition;
    }
    &__text {
        margin-bottom: 34px;
        color: $gray-text;
        line-height: 30px;
        &--sm {
            margin-bottom: 28px;
        }
    }
    &__category {
        display: flex;
        margin-bottom: 44px;
    }
    &__category-item {
        padding: 5px 14px 6px 17px;
        background-color: #f1f3f6;
        border-radius: 14px;
        font-size: 15px;
        color: #868c96;
        &+.product__category-item {
            margin-left: 7px;
        }
    }
    &__stats {
        display: flex;
        align-items: center;
        padding-top: 23px;
        border-top: 1px solid #ececec;
        &--sm {
            padding: 17px 30px 16px;
            background-color: #fff;
        }
    }
    &__price {
        margin: 0 16px 0 3px;
        padding: 5px 19px 6px 18px;
        background-color: $blue;
        border-radius: 16px;
        color: #fff;
        font-size: 15px;
        font-weight: 500;
        line-height: 22px;
        &--sm {
            padding: 4px 15px 5px 14px;
            background-color: rgba(#0674ec, .1);
            border-radius: 15px;
            color: $blue;
        }
    }
    &__likes {
        margin-right: 17px;
        .lnr {
            color: #7347c1;
            margin-right: 10px;
            &--sm {
                margin-right: 5px;
            }
        }
    }
    &__sells {
        color: $blue;
        .lnr {
            margin-right: 7px;
        }
        &--sm {
            margin-left: auto;
        }
    }
    &__rating {
        margin-left: auto;
        padding: 0;
        &--sm {
            margin-left: 0;
            margin-right: auto;
        }
    }
}

.newest {
    padding-top: 120px;
    background-color: #f6f7fb;
    &__entrance {
        min-height: 110px;
        margin-bottom: 30px;
        padding: 0 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
    }
    &__title {
        font-size: 30px;
    }
    &__filter-by {
        margin: 0 25px 0 auto;
        color: #747b86;
    }
    &__icon {
        width: 5px;
        height: 20px;
        background-image: url("../images/filter-dots.svg");
    }
    &__filter {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 51px;
        padding: 30px;
        background-color: #fff;
        box-shadow: 0 1px 2px rgba(90, 93, 100, 0.1);
    }
    &__filter-item {
        &+.newest__filter-item {
            margin-left: 10px;
        }
    }
    &__button {
        padding: 7px 18px 7px 20px;
        border: none;
        background-color: #f1f3f6;
        border-radius: 16px;
        font-size: 15px;
        color: #747b86;
        cursor: pointer;
    }
    &__product-inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
    &__btn-inner {
        text-align: center;
    }
    &__btn {
        @include big-btn;
        @include btn-transition;
        margin-bottom: 120px;
        background-color: $blue;
        color: #fff;
    }
}