.profile {
    align-items: center;
    &__avatar {
        width: 28px;
        height: 28px;
        margin-right: 10px;
        border-radius: 50%;
        object-fit: cover;
    }
    &__name {
        margin-right: 18px;
        font-size: 15px;
        line-height: 22px;
        @include link-transition;
    }
    &__balance {
        color: #0674ec;
        font-size: 15px;
    }
}