.drop-down {
    position: absolute;
    display: none;
    top: 49px;
    padding: 20px;
    border-top: 1px solid $blue;
    background-color: white;
    border-radius: 0px 0px 3px 3px;
    box-shadow: 0 5px 40px rgba(82, 85, 90, 0.2);
    &--pages {
        left: 0;
        .drop-down__link {
            min-width: 220px;
        }
    }
    &__title {
        margin: 0 0 10px 10px;
        padding-bottom: 15px;
        border-bottom: 1px solid #e8ebf0;
        font-weight: 500;
    }
    &__list {
        @include list-reset;
    }
    &__link {
        display: block;
        min-width: 230px;
        padding: 15px 10px;
        color: #54667a;
        font-size: 15px;
        border-radius: 3px;
        text-transform: none;
        &:hover {
            background-color: #0674ec;
            color: white;
        }
    }
}