.footer {
    font-size: 15px;
    line-height: 28px;
    color: #ababab;
    &__top {
        padding-top: 125px;
        background-color: #262b30;
    }
    &__inner {
        padding-bottom: 118px;
        justify-content: space-between;
    }
    &__column {
        &--first {
            margin-right: 21px;
            max-width: 264px;
            width: 100%;
        }
        &--last {
            max-width: 362px;
            width: 100%;
        }
        &--center {
            max-width: 165px;
            width: 100%;
            margin-left: 32px;
        }
        &--second {
            margin-right: 30px;
        }
    }
    &__logo {
        display: inline-block;
        margin: -10px 0 16px;
    }
    &__text {
        margin: 0 0 19px;
        &--last {
            margin-bottom: 30px;
        }
    }
    &__contact {
        position: relative;
        display: inline-block;
        font-style: normal;
        padding-left: 29px;
        @include link-transition;
        &:hover {
            box-shadow: 0 2px $gold;
        }
        &:focus {
            box-shadow: 0 10px 12px -11px $light-blue;
        }
        &:active {
            color: $blue;
        }
        &+& {
            margin-top: 5px;
        }
        &--phone::before,
        &--email::before,
        &--location::before {
            content: "";
            position: absolute;
        }
        &--phone {
            &::before {
                left: 0;
                top: 5px;
                width: 18px;
                height: 17px;
                background-image: url(../images/footer-phone-icon.png);
            }
        }
        &--email {
            &::before {
                left: 0;
                top: 9px;
                width: 17px;
                height: 11px;
                background-image: url(../images/footer-mail-icon.png);
            }
        }
        &--location {
            &::before {
                left: 2px;
                top: 22px;
                width: 10px;
                height: 17px;
                background-image: url(../images/footer-marker-icon.png);
            }
        }
    }
    &__column-title {
        margin-bottom: 25px;
        font-size: 18px;
        color: white;
    }
    &__menu {
        @include list-reset;
    }
    &__menu-item {
        &+& {
            margin-top: 4px;
        }
    }
    &__menu-link {
        @include link-transition;
    }
    &__emailemail {
        margin-bottom: 15px;
    }
    &__email-input {
        padding: 7px 94px 9px 29px;
    }
    &__email-submit {
        padding: 15px 30px 16px;
        color: white;
        right: -1px;
        top: 0;
    }
    &__social {
        @include list-reset;
    }
    &__social-item {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        &+& {
            margin-left: 13px;
        }
    }
    &__social-link {
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        padding-top: 7px;
        text-align: center;
        color: white;
        outline: transparent;
        transition: color 0.3s;
        &:hover {
            color: aqua;
        }
        &:focus {
            color: $gold
        }
        &:active {
            color: greenyellow;
        }
    }
    &__copyright {
        padding-top: 35px;
        text-align: center;
        color: #999;
        background-color: #192027;
    }
    &__copyright-text {
        display: inline-block;
        margin: 0 0 35px;
    }
    &__copyright-link {
        color: white;
        @include link-transition;
    }
}