.main-form {
    position: relative;
    max-width: 360px;
    width: 100%;
    &__label {
        font-size: 0;
    }
    &__input {
        width: 100%;
        padding: 4px 94px 7px 24px;
        border: 1px solid #d9dfe5;
        border-radius: 23px;
        font-size: 15px;
        line-height: 30px;
        outline: none;
        @include form-transition;
    }
    &__submit {
        position: absolute;
        right: 0;
        padding: 6px 28px;
        background-color: #0674ec;
        border: none;
        border-radius: 23px;
        cursor: pointer;
        outline: transparent;
        @include btn-transition;
    }
    &__submit-icon {
        color: #fff;
        font-size: 15px;
        line-height: 30px;
    }
}