.product {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 2px 30px rgba(147, 155, 168, 0.1);
    margin-bottom: 31px;
    max-width: 361px;
    &__head {
        max-height: 230px;
        position: relative;
        &:hover .product__links {
            display: block;
        }
    }
    &__img,
    &__links {
        border-radius: 4px 4px 0 0;
    }
    &__img {
        width: 100%;
        height: 100%;
    }
    &__links {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 93px;
        text-align: center;
        width: 100%;
        height: 230px;
        font-weight: 500;
        background-image: linear-gradient(to left, #0674ec 0%, #7347c1 100%);
        opacity: 0.9;
    }
    &__link {
        min-width: 0;
        padding: 12px 25px;
        &+& {
            margin-left: 14px;
        }
    }
    &__info {
        padding: 22px 39px 0 29px;
        background-color: #fff;
    }
    &__title {
        display: inline-block;
        margin-bottom: 15px;
        font-size: 20px;
        font-weight: 500;
        @include link-transition;
    }
    &__about {
        display: flex;
        align-items: center;
        margin-bottom: 26px;
    }
    &__type {
        height: 16px;
        width: 100px;
        background-repeat: no-repeat;
        outline: transparent;
    }
    &__text {
        margin-top: 0;
        margin-bottom: 28px;
        color: $gray-text;
        line-height: 30px;
    }
    &__category {
        display: flex;
        margin-bottom: 44px;
    }
    &__tag {
        padding: 5px 14px 6px 17px;
        min-width: 0;
        background-color: #f1f3f6;
        border-radius: 14px;
        font-size: 15px;
        color: #868c96;
        transition-property: background-color, color;
        transition-duration: 0.3s;
        @include tag-transition;
        &+& {
            margin-left: 7px;
        }
    }
    &__stats {
        display: flex;
        align-items: center;
        padding: 17px 30px 16px;
        background-color: #fff;
        border-top: 1px solid #ececec;
        border-radius: 0 0 4px 4px;
    }
    &__price {
        margin: 0 16px 0 3px;
        padding: 4px 15px 5px 14px;
        background-color: rgba(#0674ec, .1);
        border-radius: 15px;
        color: $blue;
        font-size: 15px;
        font-weight: 500;
        line-height: 22px;
    }
    &__likes,
    &__sells {
        border: none;
        background-color: transparent;
        outline: transparent;
        cursor: pointer;
        &:focus {
            color: red;
        }
    }
    &__likes {
        margin-right: 5px;
    }
    &__likes-icon {
        color: #7347c1;
        margin-right: 5px;
    }
    &__sells {
        color: $blue;
        margin-left: auto;
    }
    &__sells-icon {
        margin-right: 7px;
    }
    &__rating {
        padding: 0;
        margin-left: 0;
        margin-right: auto;
    }
}